body {
  background: #00151c;
  color: white;
}

.main {
  height: 750px;
  width: 1000px;
  border: 2px solid greenyellow;
  background: #0e3040;
  color: #67809f;
}

.hidden {
    display: none;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.555);
  /* border: 2px solid red; */
  z-index: 10;
  backdrop-filter: blur(3px);
  transition: opacity 0.5s ease;
}

.modal-background{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.about-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 2px 40px 2px 40px;
  height: 60%;
  width: 50%;
  background: rgb(49, 46, 46);
  color: white;
  transition: opacity 0.5s ease;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-icons {
  display: flex;
}

