body {
  background: #00151c;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.main {
  height: 750px;
  width: 1000px;
  border: 2px solid greenyellow;
  background: #0e3040;
  color: #67809f;
}

.title {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 28px;
}

.hidden {
    display: none;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #c0c0c07d;
  /* border: 2px solid red; */
  z-index: 10;
  backdrop-filter: blur(3px);
  transition: opacity 0.5s ease-out;
}

.animate-modal {
  animation: show 0.8s;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.modal-background{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
}

.about-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 2px 40px 2px 40px;
  height: 50%;
  width: 45%;
  background: rgb(49, 46, 46);
  color: white;
  transition: opacity 0.5s ease;
}

.about-modal {
  font-family: 'Miriam Libre', sans-serif;
  transition: opacity 0.5s ease;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-icons {
  display: flex;
}

.modal-icons > p {
  font-size: 18px;
  margin: 14px 10px 0 0;
}

.modal-icons > a {
  cursor: pointer;
  outline: none;
}

#close-modal {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0 10px 0 10px;
  padding: 10px 15px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  transition: all 0.5s ease;
  cursor: pointer;
  outline: none;
}

#close-modal:hover {
  text-decoration: underline;
}