body {
  /* background: #2a3542; */
  background: #183055;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.main #chart {
  background: #0303032d;
  border-radius: 10px;
  color: #a8a8a8;
  min-width: 80%;
  min-height: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.title {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 28px;
}

.hidden {
  display: none;
  z-index: -10;
}

/* for show coin */

.body-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-line {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-top: 2px solid;
}